@media (min-width: 1200px){
    .container-xl, .container-xxl {
      max-width: 80vw !important;
    }
  }

@media (max-width: 960px) {
    .logo{
        height: 30px !important;
    }
}
*{
    margin: 0;
    padding: 0;
}
p{
    font-family:  Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    font-size: 23px;
    text-align: center;
    color: white !important;
}
h1{
    font-family:  Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    font-weight: 900 !important;
    text-align: center;
    color: white !important;
}
h2{
    font-family:  Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    text-align: center;
    color: white !important;
    margin-bottom: 1rem;
}
main{
    background-color: gray;
}
.main{
    
    background-image: url(images/IN-en-20231225-popsignuptwoweeks-perspective_alpha_website_small.jpg);
    height: 700px;
    position: relative;
    background-position: center center;
}
.logo{
    height: 45px;
}
.logo :first-child :first-child{
    fill: red;
}
.box{
    position: absolute;
    top: 0;
    background-color: black;
    height: 700px;
    width: 100%;
    opacity: 0.44;
    
}
.page1{
    max-width: 1080px;
    padding-left: 40px !important;
    padding-right: 40px !important;
}
nav{
    padding-top: 20px;
    
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin: auto;
    position: relative;
}
.signIn{
    background-color: rgb(193, 17, 25);
    color: white;
    border-radius: 4px;
    border: 1px none;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 0.5rem;
    text-align: center;
    font-family:  Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    height: 35px;
}
.lang{
    background-color: black;
    opacity: 0.5;
    color: white;
    border: 1px solid;
    border-radius: 4px;
    height: 35px !important;
    font-size: 17px !important;
    width: 100px;
}
.text{
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 630px;
    justify-content: center;
    align-items: center;
    color: white;
    justify-items: center;
}

.text p{
    font-family:  Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    font-size: 23px;
    font-weight: 400;
    text-align: center;
}
.text .p1{
    margin: 1rem 0 0;
}
.bottom_box{
    width: 75vw;
    position: relative;
    top: 1.5rem;
}
.bottom_box .p2{
    font-family:  Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    font-size: 23px;
    font-weight: 400;
    text-align: center;
}
.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.email input{
    background-color: rgb(39, 39, 39);
    opacity: 0.5;
    color: white;
    border: 1px solid;
    border-radius: 4px;
    width: 375px;
    height: 53px;
    font-family:  Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    font-size: 20px;
    font-weight: 350;
    margin-top: 10px;
    padding-left: 20px;
}
.get_started button{
    height: 50px;
    background-color: rgb(193, 17, 25);
    color: white;
    border-radius: 4px;
    border: 1px none;
    font-family:  Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    font-size: 23px;
    font-weight: 600;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 0.5rem;
    min-height: 3.5rem;
    width: auto;
    text-align: center;
    margin-top: 10px;
}
.page2{
    height: 80vh;
    background-color: black;
    margin-bottom: 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: white;
    text-align: left;
    margin-top: 15px;
}
.page2 .content div{
    display: inline-block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    width: 50%;
}
.content{
    display: flex;
    flex-direction: row;
    width: 80vw;
    margin: auto;
    height: 100%;
}
.tv_1{
    position: relative;
    margin: auto;
    height: 100%;
    object-fit: contain;
    
}
.tv_1 video{
    position: absolute;
    left: 5%;
    top: 26%;
    z-index: 0;
    width: 100%;
    object-fit: contain;
    height: 43%;

}
.tv_1 img{
    position: relative;
    z-index: 2;
    height: 80%;
    object-fit: contain;
    width: 100%;
}
.page2 p{
    font-family:  Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    font-size: 23px;
    font-weight: 400;
    text-align: center;
}
.page3{
    height: 510px;
    background-color: black;
    margin-bottom: 8px;
}
.page3_leftbox{
    object-fit: cover;
    overflow: hidden;
    width: 60%;
  min-width: 15rem;
  position: relative;
  padding-bottom: 4rem;
}

.mobile{
    position: relative;
    height: 100%;
    top: 0;
    left: -4.5rem;
    padding-bottom: 5rem;
}
.download_option{
    background-color: black;
  width: 65%;
  min-width: 15rem;
  display: flex;
  left: 14%;
  border-radius: 12px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 2px solid gray;
  position: absolute;
  top: 19rem;
}
.main_logo{
    height: 5.5rem;
    margin: auto;
    margin-left: 0px;
    margin-right: 10px;
}
.midlle_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family:  Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    text-align: center;
}
.midlle_text :first-child{
    color: white;
}
.midlle_text :nth-child(2){
    color: rgb(69, 69, 248);
}
.sun_logo{
    height: 3.5rem;
    margin: auto;
    margin-right: 0px;
}
.page3_rightbox{
    color: white;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
}
.page4{
    height: 510px;
    background-color: black;
    margin-bottom: 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: white;
    text-align: center;
}
.page4 .content :first-child{
    display: inline-block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    width: 36rem;
}
.tv_2{
    position: relative;
    margin: auto;
    
}
.tv_2 video{
    position: absolute;
  left: 18%;
  top: 7%;
  z-index: 0;
  width: 64%;
}

.tv_2 img{
    position: relative;
    z-index: 2;
    width: 100%;
}
.page5{
    height: 510px;
    background-color: black;
    margin-bottom: 8px;
}
.page5 .content :nth-child(2){
    display: inline-block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    width: 36rem;
}
.page6{
    background-color: black;
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4.5rem 0;
}
.page6 div{
    display: flex;
    flex-direction: column !important;
}
.questons{
    display: flex;
    align-items: flex-start;
}
.last_buttons{
    width: 73vw;
    height: 80px;
    padding: 1.5rem;
    background-color: rgb(46, 46, 46);
    margin-bottom: 0.7rem;
    display: flex;
    align-items: flex-start;
    transition: background-color 0.3s;
}
.last_buttons:hover{
    background-color: rgb(73, 73, 73);
}
.page6 h1{
    margin-bottom: 1rem !important;
}
.page6 .p2{
    font-size: 20px !important;
}
footer {
    background-color: black;
}
footer div{
    width: 80vw;
    margin: auto;
    margin-left: 12rem;
    margin-right: 12rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 6rem;
    padding-bottom: 2rem;
}
.full_col {
    flex: 0 0 100%;
}
a{
    flex: 0 0 calc(25% - 8px);
    height: 2.5rem;
    color: rgb(163, 163, 163);
}
.last{
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    padding-top: 0px;
}
.last p{
    text-align: left;
    font-size: 15px !important;
    font-weight: 100;
    margin-top: 15px;
    
}